* {
    margin: 0;
    padding: 0;
}

/* Organizar H1  */
h1 {
    color: #FFD000;
    font-size: 100px;
    text-align: center;
    font-style: italic;
}

h2 {
    color: #b10005;
    font-size: 40px;
    text-align: center;
}

h3 {
    color: #b10005;
    font-size: 35px;
    text-align: center;
}
/* Organizar H1  */

#espanha img {
    width: 250px;
    height: 150px;
    margin-left: 50px;
    margin-top: -100px;
    border: 10px solid #FFD000;
    border-radius: 20px;
}

header {
    background-color: #d90429;
    width: 1920px;
    height: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Organizar Nav  */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration:underline;
    color:blue;
}


nav {
    background-color: #d90429;
    width: 1920px;
    height: 92px;
}

nav ul {
    list-style-type: none;
    text-transform: uppercase;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 35px;
    background-color: #9a031e;
    width: 310px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: block;
    text-align: center;
    padding: 20px;
    color: #FFD000;
    border: 5px solid #000;
    margin-left: 20px;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #FFEA00;
    color:#b10005 ;
    text-shadow: 1px 1px 2px #CCC;
}
/* Organizar Nav  */

#index2 main {
    background-color: #FFD000;
    width: 500px;
    height: 683px;
    float: right;
    border: 2px solid;
}

#index {
    background-color: #FFD000;
    width: 1414px;
    height: 683px;
    border: 2px solid;
}

main img {
    margin-top: 25px;
    margin-left: 125px;
}

hr {
    background-color: #000;
    border-color: #000;
}

#primeiro {
    margin-top: 22px;
    margin-left: 563px;
}

#primeiro img {
    border-radius: 10px;
}

aside p { 
    font-size: 26px;
    text-align: center;
    font-family:cursive;
}

main p {
    font-size: 30px;
    text-align: center;
}

footer {
    background-color: #EF233C;
    font-size: 35px;
    height: 50px;

}

#dentro {
    background-color: #FFD000;
    width: 1920px;
    height: 729px;
}

#voltar {
    border: 2px solid transparent;
    text-align: end;
}

#voltar p {
    font-size: 25px;
}

#voltar :hover {
    color: yellow ;
}

#dentro img {
    margin-top: -10px;
    margin-left: 10px;
    border-radius: 30px;
    width: 300px;
    height: 200px;
}

#dentro main {
    background-color: #FFD000;
    width: 1920px;
}

.historia {
    margin-top: 30px;
    display: flex;
}

.historia1 {
    margin-right: 10px;
    margin-top: 30px;
    display: flex;
}

/* Organizar Tabela  */
table {
    page-break-inside: auto;
    width: 100%;
    border: #000;
}
  
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
    height: 40px;
    font-size: 40px;
    text-align: center;
  }

  td {
    font-size: 25px;
  }
/* Organizar Tabela  */

#Pratos {
    margin: 7px;
    float: left;
    border: 2px solid #EF233C;
    border-radius: 15px;
    background-color: #EF233C;

    margin-top: 60px;
    margin-left: 62px;
}

#Pratos img {
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 11px 11px 0 0;
}

/* Lados */
#LadoA p {
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
    text-align:left;
}
/* Lados */

#fiesta {
    margin: 7px;
    float: left;
    border: 2px solid #EF233C;
    border-radius: 15px;
    background-color: #EF233C;

    margin-top: 36px;
    margin-left: 62px;
}

#fiesta img {
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 11px 11px 0 0;
}

#fiesta2 p {
    margin-left: 10px;
    margin-top: 10px;
}